@model IEnumerable<MovieWeb.Models.TheLoai>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Thêm", "Create", null, new { @class = "btn btn-primary" })

</p>
<table class="table">
    <tr>
        <th>
            Mã thể loại
        </th>
        <th>
            Tên thể loại
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaTheLoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenTheLoai)
        </td>
        <td>
            @Ajax.ActionLink("Sửa", "Edit", new { id = item.MaTheLoai }, null, new { @class = "btn btn-success" })
            @Ajax.ActionLink("Chi tiết", "Details", new { id = item.MaTheLoai }, null, new { @class = "btn btn-info" })
            @Ajax.ActionLink("Xóa", "Delete", new { id = item.MaTheLoai }, null, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
