@if (@Session["TaiKhoan"] != null)
{

    using (Html.BeginForm("LogOut", "User", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <li class="dropdown first" style="  padding: 10px 0; color: black; list-style-type: none" >
            <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown" >
                @if(Session["HinhAnh"]!= null)
                    {
                    <img class="img-profile rounded-circle" src="~/Content/sample/@Session["HinhAnh"]" style="width:50px; height: 50px; border-radius: 30px"/>
                    }
                    else
                    {
                    <img class="img-profile rounded-circle" src="~/Content/nd1.jpg" style="width:50px; height: 50px; border-radius: 30px"/>

                    }
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu level1">
                <li class="dropdown">
                    <a href="@Url.Action("ShowInfor","User")">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small" style="color: purple ">
                            @Session["TenNguoiDung"]
                        </span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="@Url.Action("ShowInfor","User")">Cài đặt</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit(0)">
                        Đăng xuất
                    </a>
                </li>
            </ul>
        </li>

    }
}
else
{
    <ul class="nav navbar-nav flex-child-menu menu-right">
        <li class=""><a href="@Url.Action("Login","User")" style="color: white">ĐĂNG nhập</a></li>
        <li class="btn"><a href="@Url.Action("Register","User")">đăng ký</a></li>
    </ul>
}
