﻿@{
    ViewBag.Title = "Statistical";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";

}
@*Đang fix còn lỗi*@
<h2>Thống kê doanh thu</h2>
<div class="d-sm-flex align-items-center
                            justify-content-between mb-4">
@using (Html.BeginForm("Statistical", "Adm_TrangChu", FormMethod.Get))
{
    <div class="row">
        <span>Chọn năm: </span>
        <div class="input-group">
            <select name="Year" class="custom-select">
                <option selected>@ViewBag.year</option>
                @for (int i = 2021; i <= DateTime.Now.Year; i++)
                {
                    <option value="@i">@i</option>
                }

            </select>
            <input type="submit" class="btn btn-primary" />
        </div>

    </div>
}

</div>
<iframe id="txtArea1" style="display:none"></iframe>
<div class="container-fluid">
    <div class="row">

        <!-- Pie Chart -->
        <div class="col-xl-6 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Doanh thu gói theo năm
                    </h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <canvas id="doanhthunam"></canvas>


                </div>
                <div class="card-body">
                    <table id="DTTG" class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Gói</th>
                                <th scope="col">Doanh thu</th>
                            </tr>
                        </thead>
                        @foreach (var item in ViewBag.DTTG)
                        {
                            <tr>
                                <td>@item.Item1</td>
                                <td style="text-align: center"> @Convert.ToDecimal(@item.Item2).ToString("#,##0")</td>
                            </tr>
                        }
                    </table>
                    <br />
                    <button id="btnExport" onclick="fnExcelReport('DTTG');" class="btn btn-primary"> Xuất CSV <i class="fas fa-download fa-sm text-white-50"></i></button>

                </div>
            </div>
        </div>
        <!-- Pie Chart -->
        <!--<div class="col-xl-6 col-lg-7">
    <div class="card shadow mb-4">-->
        <!-- Card Header - Dropdown -->
        <!--<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">
            Doanh thu theo gois
        </h6>
    </div>-->
        <!-- Card Body -->
        <!--</div>
    </div>-->
        @*2*@
        <!-- Pie Chart dttg -->
        <div class="col-xl-6 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Bảng thống kê doanh thu theo năm
                    </h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <canvas id="dangkymoinam"></canvas>

                </div>
                <div class="card-body">
                    <table id="DKTG" class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Gói</th>
                                <th scope="col">Đăng ký</th>
                            </tr>
                        </thead>
                        @foreach (var item in ViewBag.DKTG)
                        {
                            <tr>
                                <td>@item.Item1</td>
                                <td style="text-align: center">@item.Item2</td>
                            </tr>
                        }
                    </table>
                    <br />
                    <button id="btnExport" onclick="fnExcelReport('DKTG');" class="btn btn-primary"> Xuất CSV <i class="fas fa-download fa-sm text-white-50"></i></button>
                </div>
            </div>
        </div>
        <!-- Pie Chart -->
        <!--<div class="col-xl-6 col-lg-7">
    <div class="card shadow mb-4">-->
        <!-- Card Header - Dropdown -->
        <!--<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">
            Bảng thống kê số lượng đăng ký theo năm
        </h6>
    </div>-->
        <!-- Card Body -->
        <!--</div>
    </div>-->
        @*3*@
        <!-- Pie Chart -->
        <!-- Pie Chart -->
        <div class="col-xl-12 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Doanh thu theo tháng
                    </h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <canvas id="doanhthutungthang"></canvas>

                </div>
            </div>
        </div>
        <div class="col-xl-12 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Doanh thu đăng ký
                    </h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <table id="DTTT" class="table table-striped">
                        <thead>
                            <tr>
                                <td></td>
                                @for (int i = 1; i <= 12; i++)
                                {
                                    <th scope="col" style="font-size:12px">Tháng @i</th>
                                }
                            </tr>
                        </thead>
                        @foreach (var item in ViewBag.DTTT)
                        {
                            <tr>
                                @foreach (var item2 in item)
                                {
                                    <td style="font-size:12px">@item2</td>
                                }
                            </tr>
                        }
                    </table>
                    <br />
                    <button id="btnExport" onclick="fnExcelReport('DTTT');" class="btn btn-primary"> Xuất CSV <i class="fas fa-download fa-sm text-white-50"></i></button>
                </div>
            </div>
        </div>
        <!-- Pie Chart -->
        @*4*@
        <div class="col-xl-12 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Số đăng ký mới theo từng tháng
                    </h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <canvas id="dangkymoitungthang"></canvas>

                </div>
            </div>
        </div>
        <!-- Pie Chart -->
        <div class="col-xl-12 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Đăng ký mới theo tháng
                    </h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <table id="DKTT" class="table table-striped">
                        <thead>
                            <tr>
                                <td>Tháng   / Loại DV</td>
                                @for (int i = 1; i <= 12; i++)
                                {
                                    <th scope="col">Tháng @i</th>
                                }
                            </tr>
                        </thead>
                        @foreach (var item in ViewBag.DKTT)
                        {
                            <tr>
                                @foreach (var item2 in item)
                                {
                                    <td style="text-align: center">@item2</td>
                                }
                            </tr>
                        }
                    </table>
                    <br />

                    <button id="btnExport" onclick="fnExcelReport('DKTT');" class="btn btn-primary"> Xuất CSV <i class="fas fa-download fa-sm text-white-50"></i></button>

                </div>
            </div>
        </div>



    </div>
</div>


@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/js/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {

            var month = "@ViewBag.month";

            var kkk = @Html.Raw(Json.Encode(ViewBag.DTTT));
            console.log(kkk)
            var ctx = document.getElementById('doanhthunam').getContext('2d');
            var model = @Html.Raw(Json.Encode(ViewBag.doanhthunam));
            console.log(model)
            var doanhthunam = new Chart(ctx, model)

            var cty = document.getElementById('dangkymoinam').getContext('2d');
            var model1 = @Html.Raw(Json.Encode(ViewBag.dangkymoinam));

            var doanhthunam = new Chart(cty, model1)

            var ctz = document.getElementById('doanhthutungthang').getContext('2d');
            var model2 = @Html.Raw(Json.Encode(ViewBag.doanhthutungthang));
            var doanhthutungthang = new Chart(ctz, model2);

            var ctk = document.getElementById('dangkymoitungthang').getContext('2d');
            var model3 = @Html.Raw(Json.Encode(ViewBag.dangkymoitungthang));
            var dangkymoitungthang = new Chart(ctk, model3);


        });


    </script>
    <script type="text/javascript">
        function fnExcelReport(e) {
            var tab_text = "<table border='2px'><tr bgcolor='#87AFC6'>";
            var textRange; var j = 0;
            tab = document.getElementById(e); // id of table

            for (j = 0; j < tab.rows.length; j++) {
                tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
                //tab_text=tab_text+"</tr>";
            }

            tab_text = tab_text + "</table>";
            tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
            tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
            tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

            var ua = window.navigator.userAgent;
            var msie = ua.indexOf("MSIE ");

            if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
            {
                txtArea1.document.open("txt/html", "replace");
                txtArea1.document.write(tab_text);
                txtArea1.document.close();
                txtArea1.focus();
                sa = txtArea1.document.execCommand("SaveAs", true, "Say Thanks to Sumit.xls");
            }
            else                 //other browser not tested on IE 11
                sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent("\uFEFF" + tab_text));

            return (sa);
        }
    </script>
}
