@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.TaiKhoan = Session["TaiKhoan"];
    ViewBag.VIP = Session["VIP"];
}

<div class="hero common-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1 style="color: #add8e6; font-size: 46px; font-weight: 300">Dịch vụ</h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="@Url.Action("Home","Movie")" style="font-weight: bold; }">Trang chủ</a></li>
                        <li> <span class="ion-ios-arrow-right"></span>  Prerimum</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="pricing" class="pricing-content section-padding page-single">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                <div class="single-pricing form-style-1"  style="color: #CD7F32">
                    <div class="price-head">
                        <h2>&larr; Đồng &rarr;</h2>
                    </div>
                    <br />
                    <h1 class="price">0 VND</h1>
                    <h5>Forever</h5>
                    <br />
                    <ul>
                        <li>Bình luận</li>
                        <li>Đánh giá</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
                <div class="single-pricing form-style-1" style="color: #C0C0C0">
                    <div class="price-head">
                        <h2>&larr; Bạc &rarr;</h2>
                    </div>
                    <br />
                    <h1 class="price">300.000 VND</h1>
                    <h5>Monthly</h5>
                    <br />
                    <ul>
                        <li>Bình luận</li>
                        <li>Đánh giá</li>
                        <li>Xem phim chất lượng cao</li>
                    </ul>
                </div>
            </div><!--- END COL -->
            <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
                <div class="single-pricing single-pricing-white form-style-1" style="color: #FFD700">
                    <div class="price-head">
                        <h2>&larr; Vàng &rarr;</h2>
                    </div>
                    <span class="price-label">Best</span>
                    <h1 class="price">500.000 VND</h1>
                    <h5>Monthly</h5>
                    <br />
                    <ul>
                        <li>Bình luận</li>
                        <li>Đánh giá</li>
                        <li>Xem phim chất lượng cao</li>
                        <li>Không quảng cáo</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                <div class="single-pricing">
                    
                    @if (ViewBag.TaiKhoan == null)
                    {
                        <a class="redbtn" href="@Url.Action("Login", "User")">Nâng cấp</a>
                    }
                    else
                    {
                        if (ViewBag.VIP != null)
                        {
                            <a class="redbtn" onclick="thamlam()" href="@Url.Action("Home","Movie")">Nâng cấp</a>
                        }
                        else
                        {
                            <a class="redbtn" href="@Url.Action("Home","Movie")">Nâng cấp</a>
                        }
                    }
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
                <div class="single-pricing">
                    
                    @if (ViewBag.TaiKhoan == null)
                    {
                        <a class="redbtn" href="@Url.Action("Login", "User")">Nâng cấp</a>
                    }
                    else
                    {
                        if (ViewBag.VIP != null)
                        {
                            <a class="redbtn" onclick="thamlam()" href="@Url.Action("Home","Movie")">Nâng cấp</a>
                        }
                        else
                        {
                            <a class="redbtn" href="@Url.Action("ChonPhuongThucThanhToan", "Payment", new {id=2})">Nâng cấp</a>
                        }
                    }
                </div>
            </div><!--- END COL -->
            <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
                <div class="single-pricing single-pricing-white">
                    
                    @if (ViewBag.TaiKhoan == null)
                    {
                        <a class="redbtn" href="@Url.Action("Login", "User")">Nâng cấp</a>
                    }
                    else
                    {
                        if (ViewBag.VIP != null)
                        {
                            <a class="redbtn" onclick="thamlam()" href="@Url.Action("Home","Movie")">Nâng cấp</a>
                        }
                        else
                        {
                            <a class="redbtn" href="@Url.Action("ChonPhuongThucThanhToan", "Payment", new {id=1})">Nâng cấp</a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <script>
        function thamlam() {
            alert("Bạn đã có gói đăng ký rồi!!!");
        }

    </script>
</section>