@using MovieWeb.Models;
@model dynamic

@{
    ViewBag.Title = "ThongTinThanhToan";
}
@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Không chọn",
        Value = "",
        Selected = true
    });
    listItems.Add(new SelectListItem
    {
        Text = "VNPAYQR",
        Value = "VNPAYQR",

    });
    listItems.Add(new SelectListItem
    {
        Value = "VNBANK",
        Text = "LOCAL BANK"
    });
    listItems.Add(new SelectListItem
    {
        Value = "INTCARD",
        Text = "INTERNATIONAL CARD",
    });
    listItems.Add(new SelectListItem
    {
        Value = "VISA",
        Text = "VISA"
    });
    listItems.Add(new SelectListItem
    {
        Text = "MASTERCARD",
        Value = "MASTERCARD",

    });
    listItems.Add(new SelectListItem
    {
        Text = "JCB",
        Value = "JCB"
    });
    listItems.Add(new SelectListItem
    {
        Text = "UPI",
        Value = "UPI",

    });
    listItems.Add(new SelectListItem
    {
        Value = "NCB",
        Text = "Ngan hang NCB"
    });
    listItems.Add(new SelectListItem
    {
        Value = "SACOMBANK",
        Text = "Ngan hang SacomBank",

    });
    listItems.Add(new SelectListItem
    {
        Value = "EXIMBANK",
        Text = "Ngan hang EximBank"
    });
    listItems.Add(new SelectListItem
    {
        Value = "MSBANK",
        Text = "Ngan hang MSBANK",

    });
    listItems.Add(new SelectListItem
    {
        Value = "NAMABANK",
        Text = "Ngan hang NamABank"
    });
    listItems.Add(new SelectListItem
    {
        Value = "VNMART",
        Text = "Vi dien tu VNPAY",

    });
    listItems.Add(new SelectListItem
    {
        Value = "VIETINBANK",
        Text = "Ngan hang Vietinbank"
    });
    listItems.Add(new SelectListItem
    {
        Value = "VIETCOMBANK",
        Text = "Ngan hang VCB",

    });
    listItems.Add(new SelectListItem
    {
        Value = "HDBANK",
        Text = "Ngan hang HDBank"
    });
    listItems.Add(new SelectListItem
    {
        Value = "DONGABANK",
        Text = "Ngan hang Dong A",

    });
    listItems.Add(new SelectListItem
    {
        Value = "TPBANK",
        Text = "Ngân hàng TPBank"
    });
    listItems.Add(new SelectListItem
    {
        Value = "OJB",
        Text = "Ngân hàng OceanBank",

    });
    listItems.Add(new SelectListItem
    {
        Value = "BIDV",
        Text = "Ngân hàng BIDV"
    });
    listItems.Add(new SelectListItem
    {
        Value = "TECHCOMBANK",
        Text = "Ngân hàng Techcombank",

    });
    listItems.Add(new SelectListItem
    {
        Value = "VPBANK",
        Text = "Ngan hang VPBank"
    });
    listItems.Add(new SelectListItem
    {
        Value = "AGRIBANK",
        Text = "Ngan hang Agribank",

    });
    listItems.Add(new SelectListItem
    {
        Text = "Ngan hang ACB",
        Value = "ACB"
    });
    listItems.Add(new SelectListItem
    {
        Value = "SCB",
        Text = "Ngan hang SCB",

    });
    listItems.Add(new SelectListItem
    {
        Value = "OCB",
        Text = "Ngan hang Phuong Dong",

    });

    List<SelectListItem> ngonNgu = new List<SelectListItem>();
    ngonNgu.Add(new SelectListItem
    {
        Text = "Tiếng Việt",
        Value = "vn",
        Selected = true
    });
    ngonNgu.Add(new SelectListItem
    {
        Text = "English",
        Value = "en",
        Selected = true
    });
}
<div class="landing-hero" id="payment-top">
    <!-- <img src="images/logo1.png" alt="Logo"> -->
    <!-- <a href="" class="redbtn" id="discover-now">Chọn ngay</a> -->
    <div class="row landing-hero-text" style="border: black">
        <h2 class="text-black">THÔNG TIN THANH TOÁN</h2>
    </div>
</div>
<div class="page-single">
        <div class="container">
            <div class="row ipad-width">
                <div class="form-style-1 user-pro col-6 align-self-center">
                    @using (Html.BeginForm())
                    {
                        @*<h4>Thông tin thanh toán</h4>*@
                        <p><label>Tên khách hàng :</label> @Model.User.HoTen</p>
                        <p><label>Gói dịch vụ :</label> <strong>@Model.GoiDichVu.TenGoiDV</strong></p>
                        <p><label>Số tiền :</label> <strong>@Convert.ToDecimal(@Model.GoiDichVu.GiaGoiDV).ToString("#,##0") VND</strong></p>
                        <div class="form-group">
                            <label>Ngân hàng</label>
                            @Html.DropDownList("cboBankCode", listItems, new { @class = "btn dropdown-toggle" })
                        </div>
                        <div class="form-group">
                            <label>Ngôn ngữ</label>
                            @Html.DropDownList("cboLanguage", ngonNgu, new { @class = "btn dropdown-toggle" })

                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <input class="submit" type="submit" value="Xác nhận">
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
@* @using (Html.BeginForm())
{
    <h1>@Session["VIP"]</h1>
    <h2>ThongTinThanhToan</h2>
    <p>Tên khách hàng: @Model.User.HoTen</p>
    <p>Gói dịch vụ: <strong>@Model.GoiDichVu.TenGoiDV</strong></p>
    <p>Số tiền: <strong>@Model.GoiDichVu.GiaGoiDV</strong></p>
    <p>Chọn ngân hàng: </p> @Html.DropDownList("cboBankCode", listItems, new { @class = "form-control" })
    <p>Ngôn ngữ: </p> @Html.DropDownList("cboLanguage", ngonNgu, new { @class = "form-control" })
    <input type="submit" class="btn" />
} *@
