@using (Html.BeginForm("ChangeInfor","User")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <h4>Thông tin tài khoản</h4>
    <div class="row">
        <div class="col-md-6 form-it">
            <label>Họ tên</label>
            <input type="text" placeholder="Nguyễn Văn A" value="@Model.HoTen" style="border-radius:100px!important" name="HoTen">
        </div>
        <div class="col-md-6 form-it">
            <label>Ngày sinh</label>
            <input type="text" placeholder="dd/MM/yyyy" value="@Model.NgaySinh.ToString("dd/MM/yyyy")" style="border-radius:100px!important" name="NgaySinh">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-it">
            <label>Giới tính</label>
            <select style="border-radius:100px!important" name="GioiTinh">
                @if (Model.GioiTinh == "F")
                {
                    <option value="F">Nữ</option>
                    <option value="M">Nam</option>
                    <option value="N">Other</option>
                }
                else if (Model.GioiTinh == "M")
                {
                    <option value="M">Nam</option>
                    <option value="F">Nữ</option>
                    <option value="N">Other</option>
                }
                else
                {
                    <option value="N">Other</option>
                    <option value="F">Nữ</option>
                    <option value="M">Nam</option>
                }
            </select>
        </div>
        <div class="col-md-6 form-it">
            <label>Email</label>
            <input type="email" placeholder="example@email.com" value="@Model.Email" style="border-radius:100px!important" name="Email">
           @* @ViewData["Err"]*@
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-it">
            <label>SĐT</label>
            <input type="text" placeholder="0xxxxxxxxx" value="@Model.SDT" style="border-radius:100px!important" name="SDT">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <input class="submit" type="submit" value="Lưu">
        </div>
    </div>
}