<style>
    .zoom img{
        background: #222f3e;
        border-radius: 0.5em;
        border: 5px solid rgba(255, 255, 255, .05);
        transition: transform .25s, visibility .25s ease-in;
        width: 50%;
    }

        .zoom:hover {
            transform: scale(1.2);
        }
</style>
<div class="col-md-3 col-sm-12 col-xs-12">
    <div class="user-information">
        <div class="user-img">
            <div class="zoom">
                <a href="@Url.Action("ShowInfor","User")"><img src="~/Content/sample/@Model.HinhAnhNguoiDung" alt=""><br></a>
            </div>
            <a href="@Url.Action("ShowInfor","User")" class="redbtn">Đổi avatar</a>
        </div>
        <div class="user-fav">
            <p>Chi tiết tài khoản</p>
            <ul class="tab-links">
                <li class="active"><a href="@Url.Action("ShowInfor","User")">Tài khoản</a></li>
                <li><a href="@Url.Action("ShowFavorite","User")">Phim yêu thích</a></li>
                <li><a href="@Url.Action("ShowFavorite","User")">Phim đã đánh giá</a></li>
            </ul>
        </div>
        <div class="user-fav">
            <p>Others</p>
            <ul>
                <li><a href="@Url.Action("ShowChangePass","User")">Đổi mật khuẩu</a></li>
                <li><a href="@Url.Action("LogOut","User")">Đăng xuất</a></li>
            </ul>
        </div>
    </div>
</div>
