
@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">ĐĂNG KÝ THÀNH VIÊN</h1>
                        </div>
                        @using (Html.BeginForm(new { @class = "user" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="form-group">
                                @Html.TextBox("HoTen", null, new { @class = "form-control form-control-user", id = "exampleName", placeholder = "Họ và tên" })
                                @ViewData["Err1"]
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-9 mb-3 mb-sm-0">
                                    @Html.TextBox("SDT", null, new { @class = "form-control form-control-user", id = "examplePhoneNumber", placeholder = "Số điện thoại" })
                                    @ViewData["Err4"]
                                </div>
                                <div class="col-sm-3">

                                    @Html.DropDownList("GioiTinh", new List<SelectListItem>
                                {
                                   new SelectListItem{ Text="Nam", Value = "M" },
                                   new SelectListItem{ Text="Nữ", Value = "F" },
                                   new SelectListItem{ Text="Khác", Value = "N" }
                                }, "Chọn", new { @class = "btn dropdown-toggle" })
                                    @ViewData["Err2"]
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    @Html.TextBox("Email", null, new { type = "email", @class = "form-control form-control-user", id = "exampleEmail", placeholder = "Địa chỉ email" })
                                    @ViewData["Err3"]
                                </div>
                                <div class="col-sm-6">
                                    @Html.TextBox("NgaySinh", null, new { type = "date", @class = "form-control form-control-user", id = "exampleDate", placeholder = "Ngày sinh", min = "1950-01-01" })
                                    @ViewData["Err9"]
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.TextBox("TaiKhoan", null, new { @class = "form-control form-control-user", id = "exampleUsername", placeholder = "Tên đăng nhập" })
                                @ViewData["Err5"]
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    @Html.TextBox("MatKhau", null, new { type = "password", @class = "form-control form-control-user", id = "examplePassword", placeholder = "Mật khẩu" })
                                    @ViewData["Err6"]
                                </div>
                                <div class="col-sm-6">
                                    @Html.TextBox("NhapLaiMatKhau", null, new { type = "password", @class = "form-control form-control-user", id = "exampleRepeatPassword", placeholder = "Nhập lại mật khẩu" })
                                    @ViewData["Err7"]
                                </div>



                                <div class="col-sm-6">
                                    <br />
                                    <div id="dvCaptcha">
                                    </div>
                                    <input type="hidden" id="hfCaptcha" name="captcha" />
                                    @ViewData["Err8"]
                                </div>
                            </div>
                            <input class="btn btn-primary btn-user btn-block" id="btnSubmit" type="Submit" value="Đăng ký" />
                            <hr>
                            <a href="index.html" class="btn btn-google btn-user btn-block">
                                Đăng ký bằng Google
                            </a>
                            <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                Đăng ký bằng Facebook
                            </a>
                        }
                        <hr>
                        <div class="text-center">
                            @Html.ActionLink("Quên mật khẩu", "ForgotPassword", new { @class = "small" })
                        </div>
                        <div class="text-center">
                            @Html.ActionLink("Đã có tài khoản ? Đăng nhập", "Login", new { @class = "small" })
                        </div>
                        <div class="text-center">
                            <a href="@Url.Action( "Home", "Movie")">
                                Quay về trang chủ
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        asyncdefer></script>
<script type="text/javascript">
        var onloadCallback = function () {
            grecaptcha.render('dvCaptcha', {
                'sitekey': '@Model.Key',
                'callback': function (response) {
                    $.ajax({
                        type: "POST",
                        url: "/User/AjaxMethod",
                        data: "{response: '" + response + "'}",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (r) {
                            var captchaResponse = jQuery.parseJSON(r.Response);
                            if (captchaResponse.success) {
                                $("#hfCaptcha").val(captchaResponse.success);
                                $("#rfvCaptcha").hide();
                            } else {
                                $("#hfCaptcha").val("");
                                $("#rfvCaptcha").show();
                                var error = captchaResponse["error-codes"][0];
                                $("#rfvCaptcha").html("RECaptcha error. " + error);
                            }
                        }
                    });
                }
            });
        };
        @*$(function () {
            $("#btnSubmit").click(function () {
                $("#rfvCaptcha").hide();
                if ($("#hfCaptcha").val() == "") {
                    $("#rfvCaptcha").show();
                }
            });
        });*@
</script>

