@model PagedList.IPagedList<MovieWeb.Models.DienVien>
@using PagedList.Mvc;

@{
    ViewBag.Title = "ActorGrid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero common-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1> Danh sách diễn viên - Bảng</h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="@Url.Action("Home","Movie")" style="font-weight: bold; }">Trang chủ</a></li>
                        <li> <span class="ion-ios-arrow-right"></span> Danh sách diển viên</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-single">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="topbar-filter">
                    <p>Tìm thấy <span>@Model.Count</span> phim</p>
                    <label>Lọc theo :</label>
                    <select>
                        <option value="popularity">Độ phổ biến giảm</option>
                        <option value="popularity">Độ phổ biến tăng</option>
                        <option value="rating">Lượt đánh giả giảm</option>
                        <option value="rating">Lượt đánh gía tăng</option>
                        <option value="date">Ngày phát hành tăng</option>
                        <option value="date">Ngày phát hành giảm</option>
                    </select>
                    <a href="@Url.Action("MovieList", "Movie")"><i class="ion-ios-list-outline "></i></a>
                    <a href="@Url.Action("MovieGrid", "Movie")"><i class="ion-grid active"></i></a>
                </div>
                <div class="celebrity-items">
                    @foreach (var item in Model)
                    {
                        <div class="ceb-item">
                            <a href="@Url.Action("ActorDetail", "Movie", new { id = item.MaDienVien})"><img src="~/Content/sample/@item.HinhAnhDienVien" alt="" width="270" height="400"></a>
                            <div class="ceb-infor">
                                <h2><a href="@Url.Action("ActorDetail", "Movie", new { id = item.MaDienVien})">@item.TenDienVien</a></h2>
                            </div>
                        </div>
                    }
                </div>
                <div class="topbar-filter">
                    <label style="color: white">Đang ở trang:</label>

                    <span style="color: white">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount:</span>
                    <div class="pagination2">
                        @Html.PagedListPager(Model, page => Url.Action("ActorGrid", new { page = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 col-sm-12">
                <div class="sidebar">
                    @Html.Action("Filter", "Movie")
                </div>
            </div>
        </div>
    </div>
</div>
