<div class="topbar-filter">
    <p>Tìm thấy <span>@Model.Count</span> phim</p>
    <label>Lọc theo :</label>
    <select>
        <option value="popularity">Độ phổ biến giảm</option>
        <option value="popularity">Độ phổ biến tăng</option>
        <option value="rating">Lượt đánh giả giảm</option>
        <option value="rating">Lượt đánh gía tăng</option>
        <option value="date">Ngày phát hành tăng</option>
        <option value="date">Ngày phát hành giảm</option>
    </select>
</div>
<!-- movie cast -->

<div class="mvcast-item">
    @foreach (var item in Model)
    {
        <div class="cast-it">
            <div class="cast-left cebleb-film">
                <img src="~/Content/MoviePosters/@item.Phim.HinhBanner" alt="" style="border-radius: 33px; height: 50px">
                <div>
                    <a href="@Url.Action("MovieDetail", "Movie", new { id = item.MaPhim })">@item.Phim.TenPhim </a>
                    <p class="time">@item.TenVaiDien</p>
                </div>

            </div>
            <p>...  @item.Phim.NgaySanXuat.Year</p>
        </div>
    }

</div>