@model MovieWeb.Models.Phim

@{
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm("Edit", "Adm_Phim", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Phim</h4>
        <hr />
        @*   @Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
        @Html.HiddenFor(model => model.MaPhim)

        <div class="form-group">
            @Html.LabelFor(model => model.TenPhim, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenPhim, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenPhim, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgaySanXuat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Model.NgaySanXuat
                <br />
                @*Them calendar*@
                @Html.EditorFor(model => model.NgaySanXuat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NgaySanXuat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoiDungPhim, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.NoiDungPhim, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NoiDungPhim, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoiDungPhimTomTat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.NoiDungPhimTomTat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NoiDungPhimTomTat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DiemIMDB, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiemIMDB, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DiemIMDB, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LuotXem, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LuotXem, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LuotXem, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ThoiLuong, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ThoiLuong, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ThoiLuong, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HinhBanner, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HinhBanner, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control"@*, type = "file"*@}
})
                @Html.ValidationMessageFor(model => model.HinhBanner, "", new { @class = "text-danger", value = Model.HinhBanner })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HinhBanner, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="fileupload" />
                @ViewBag.ThongBao
                @Html.ValidationMessageFor(model => model.HinhBanner, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LinkPhim, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LinkPhim, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LinkPhim, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LinkPhimVip, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LinkPhimVip, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LinkPhimVip, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrailerPhim, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TrailerPhim, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TrailerPhim, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaNuoc, "MaNuoc", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaNuoc", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaNuoc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaNgonNgu, "MaNgonNgu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaNgonNgu", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaNgonNgu, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Thể loại:</label>
            <br />
            <div class="col-md-10">
                @Html.DropDownList("MaTheLoai", null, "Select one...", htmlAttributes: new { @class = "form-control" })

            </div>
            <hr />
            <div class="row">
                @foreach (var item in Model.TheLoais)
                {
                    <div class="btn">
                        <a href="@Url.Action("Details", "Adm_TheLoai", new {id = item.MaTheLoai})">
                            @item.TenTheLoai
                        </a>
                    </div>
                }
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Diễn viên:</label>
            <br />
            <div class="col-md-10">
                @Html.DropDownList("MaDienVien", null, "Select one...", htmlAttributes: new { @class = "form-control" })

            </div>
            <hr />
            <div class="row">
                @foreach (var item in Model.DienVienDongPhims)
                {
                    <div style="margin-left:10px;margin-right:10px">
                        <div>
                            <center><img src="~/Content/sample/@item.DienVien.HinhAnhDienVien" alt="" style="width:80px;height:100px"></center>
                            <center><a href="@Url.Action("Details", "Adm_DienVien", new { id = item.DienVien.MaDienVien})">@item.DienVien.TenDienVien</a></center>
                        </div>
                        @*<p>... Robert Downey Jr.</p>*@
                    </div>
                }
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Đạo diễn:</label>
            <br />
            <div class="col-md-10">
                @Html.DropDownList("MaDaoDien", null, "Select one...", htmlAttributes: new { @class = "form-control" })

            </div>
            <hr />
            <div class="row">
                @foreach (var item in Model.DaoDiens)
                {
                    <div style="margin-left:10px;margin-right:10px">
                        <div>
                            <center><img src="~/Content/sample/@item.HinhAnhDaoDien" alt="" style="width:80px;height:100px"></center>
                            <center><a href="@Url.Action("Details", "Adm_DaoDien", new { id = item.MaDaoDien})">@item.TenDaoDien</a></center>
                        </div>
                        @*<p>... Robert Downey Jr.</p>*@
                    </div>
                }
            </div>

        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Hashtag:</label>
            <br />
            <div class="col-md-10">
                @Html.DropDownList("MaHashTag", null, "Select one...", htmlAttributes: new { @class = "form-control" })

            </div>
            <hr />
            @foreach (var item in Model.HashTags)
            {
                <div class="btn">
                    <a href="@Url.Action("Details", "Adm_HashTag", new {id = item.MaHashTag})">
                        @item.TenTag
                    </a>
                </div>
            }

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Trở về", "Index", null, new { @class = "btn btn-dark" })
            </div>
        </div>
    </div>
    }
    

</body>
</html>