@model PagedList.IPagedList<MovieWeb.Models.Phim>
@using PagedList.Mvc

@{
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<h1>QUẢN LÝ PHIM</h1>
<div class="row">

@using (Html.BeginForm("Index", "Adm_Phim", FormMethod.Get, new { @class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"}))
{
    <div class="input-group">
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control bg-light border-0 small", placeholder = "Tìm theo tên..."})
        <div class="input-group-append">
            <button class="btn btn-primary"
                    type="submit">
                <i class="fas fa-search fa-sm"></i>
            </button>
        </div>
    </div>
}
<p>
    @Html.ActionLink("Thêm", "Create", null, new { @class = "btn btn-primary" })
</p>
</div>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Phim", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Ngày sản xuất", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Tóm tắt nội dung
        </th>
        <th>
            @Html.ActionLink("Điểm IMDB", "Index", new { sortOrder = ViewBag.IMDBSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Lượt xem", "Index", new { sortOrder = ViewBag.ViewSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Thời lượng", "Index", new { sortOrder = ViewBag.TimeSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Banner
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenPhim)
            </td>
            @if (item.NgaySanXuat != null)
            {
                <td width="190px">

                    @item.NgaySanXuat.Value.Day/ @item.NgaySanXuat.Value.Month / @item.NgaySanXuat.Value.Year
                </td>
            }
            else
                {
                    <td width="190px">
                        null
                    </td>
                }
            <td>
                @Html.Raw(item.NoiDungPhimTomTat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiemIMDB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LuotXem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiLuong)
            </td>
            <td>
                <img src="~/Content/MoviePosters/@item.HinhBanner" ,alt="" , style="width : 120px ;height :140px" />
            </td>
            <td>
                @Ajax.ActionLink("Sửa", "Edit", new { id = item.MaPhim }, null, new { @class = "btn btn-success" })
                @Ajax.ActionLink("Chi tiết", "Details", new { id = item.MaPhim }, null, new { @class = "btn btn-info my-2", style="font-size: 12px" })
                @Ajax.ActionLink("Xóa", "Delete", new { id = item.MaPhim }, null, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
<br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", "Adm_Phim", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
@using(Html.BeginForm("ExportToExcel", "Adm_Phim", FormMethod.Get))
{
                <input class="btn btn-google" type="submit" value="ExportToExcel" />
            }
<p>@ViewBag.K</p>